// Footer
// -------------------------

footer{ background-color: #0a619f; color: #fff; position: relative; font-size: 14px;}
   footer a:hover{ color: #f8971d;  }
   .footer-content{ padding: 60px 0; line-height: 1.8; font-size: 16px; letter-spacing: 0; }
      .footer-content a{ color: #fff;  }
   .site-credit{ text-transform: uppercase; font-weight: 400; letter-spacing: 1px; height: 50px;
      font-size: 12px; background-color: #004068;
  	}
      .site-credit a{ color: #fff; }